body {
    background-image: linear-gradient(to left, #ffcce5, #ffd8b8, #b9a3e3, #2c3e50);
    color: red;
}

html, body {
    height: 95vh;
}

main {
    height: 100%;
    text-align: center;
    display: grid;
}

.content {
    justify-self: center;
    align-self: center;
    line-height: 75%;
}

#new {
    cursor: pointer;
    font-size: xx-large;
}
